.about-section {
    max-width: 1600px;
    margin: 0 auto;
    
    // .about-header {
    //     width: 80%;
    //     margin: auto;
    // }

    .about-main-content {    
        width: 85%;
        margin: auto;
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // gap: 20px;
        // margin: 20px 0;

        // .about-image {
        //     img {
        //         width: 100%;
        //         border-radius: 50%;
        //     }
        // }

        // .about-text {
        //     h2 {
        //         text-align: center;
        //     }

        //     p {
        //         text-align: justify;
        //     }
        // }
    }
}