@use '../mixins/mixins' as mixin;
@use '../theme/theme' as theme;

.classes-page {
    max-width: 1600px;
    width: 95%;
    margin: auto;

    &__header {
        margin: 50px 0;
        display: flex;
        align-items: start;
        position: relative;
        text-align: center;

        h1 {
            font-size: 2.5em;
            margin: 0;
            
            @include mixin.breakpoint(md) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 1.2em;

            @include mixin.breakpoint(md) {
                font-size: 1rem;
            }
        }

        &--image {
            width: 50%;
            height: 500px;
            position: relative;
            left: 100px;
            border-radius: theme.elements(--border-radius-md);
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: theme.elements(--border-radius-md);
            }

            + .classes-page__header--text {
                display: flex;
                min-height: 250px;
                margin: 50px 0 200px;
                align-items: center;
                position: relative;
                right: 100px;
                top: 200px;
                padding: 65px 0 0;
                flex-direction: column;
                justify-content: center;
                backdrop-filter: blur(5px);

                h1 {
                    top: -0;
                    position: absolute;
                    text-align: center;
                    padding: 10px 0;
                    background-color: #7eb9a9;
                    width: 100%;
                    margin: 0;
                }
                
                > div {
                    text-align: right;
                }

                p {
                    width: 90%;
                    margin: 10px auto;
                }
            }
        }

        // &.no_image p {
        //     width: 70%;
        //     // margin: auto;
        // }

        &--text {
            width: 50%;
            // min-height: 500px;
            padding: 20px;
            text-align: center;
            margin: 50px auto;
            border: 2px solid theme.colours(--bg-lt-green);
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.4);
        }

        @include mixin.breakpoint(xl) {
            margin: 0;
            
            &--image {
                width: 70%;

                + .classes-page__header--text {
                    width: 70%;
                }
            }
        }

        @include mixin.breakpoint(xl_1) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &--image {
                left: 0;
                top: 0;
                
                + .classes-page__header--text {
                    right: 0;
                    top: 0;
                    margin: 50px 0;
                }
            }
        }

        @include mixin.breakpoint(md_1) {
            &--image {
                width: 90%;
                height: 350px;

                + .classes-page__header--text {
                    width: 100%;
                    height: auto;
                    margin: 20px 0;
                    right: 0;
                    top: 0;
                }
            }

            &--text {
                width: 90%;
                margin: 20px auto;
            }
        }

        @include mixin.breakpoint(sm_2) {
            &--image {
                height: 250px;

                + .classes-page__header--text {
                    width: 100%;
                    height: auto;
                    margin: 20px 0;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .category-list {
        width: 85%;
        margin: 30px auto;

        &_filters {
            display: flex;
            gap: 20px;
            padding: 0 0 20px;
            border-bottom: 1px solid black;
        }

        
        &_items {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px 0 0;
            margin: auto;
            width: 97%;
        }

        .class-link {
            display: flex;
            width: 640px;
            height: 200px;
            position: relative;
            border-radius: theme.elements(--border-radius-md);
            border: 1px solid black;
            position: relative;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
            background-color: theme.colours(--bg-lt-green);     

            .class-image-container {
                display: flex;
                position: relative;
                width: 300px;
                height: auto;

                svg {
                    height: auto;
                    width: 200px;
                    position: absolute;
                    right: 10px;
                    top: 40%;
                    transform: translate(50%, 50%) rotate(-90deg) scaleY(-1);
                    fill: theme.colours(--bg-lt-green);
                }
            }

            .class-text-container {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: calc(100% - 300px);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: theme.elements(--border-radius-md);
            }
        }


        .category {
            width: 200px;
            height: 200px;
        }


        .category {
            margin: auto;
            padding: 0;
            position: relative;
            border-radius: theme.elements(--border-radius-md);
            border: 1px solid black;
            position: relative;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: theme.elements(--border-radius-md);
            }

            .category-name, .class-name {
                left: 50%;
                bottom: 20px;
                position: absolute;
                transform: translateX(-50%);
                border-radius: theme.elements(--border-radius-md);
                background-color: rgba(black, 0.8);
                color: white;
                text-align: center;
                font-size: 1.5em;
                width: 80%;
                padding: 5px 10px;
            }

            .class-category {
                position: absolute;
                top: 2px;
                right: 2px;
                background-color: theme.colours(--bg-lt-green);
                padding: 2px 5px;
                border-radius: theme.elements(--border-radius-sm);
                font-size: 1em;
            }
        }
        
        @include mixin.breakpoint(xl) {
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        }
        
        @include mixin.breakpoint(lg) {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        }
    }
    
    .class-details {
        margin: auto;
        display: grid;
        margin: 25px 0;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 20px;

        .service-list-event {
            border: 1px solid black;
            border-radius: theme.elements(--border-radius-md);
            padding: 0 0 50px;
            position: relative;
            background-color: theme.colours(--stl-grey);
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);

            .event-title {
                font-weight: bold;
                font-size: 1.5em;
                padding: 5px 20px;
                background-color: theme.colours(--bg-lt-green);
                border-bottom: 1px solid black;
            }

            .event-details {
                padding: 10px 20px;
                position: relative;
                
                .event-option {
                    position: relative;
                }

                .option-timetable {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            
            .event-option-buttons {
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                width: 95%;
                margin: 10px 0;
                justify-content: end;
                padding: 0 10px;
                box-sizing: content-box;

                button {
                    cursor: pointer;
                }

                a {
                    margin: 0;
                    padding: 2px 10px;
                    border: 1px solid #000000;
                    border-radius: 5px;
                }
            }
        }

        @include mixin.breakpoint(sm) {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 85%;
        margin: 30px auto;

        &--left {
            padding: 10px;
        }

        &--left {
            border: 1px solid black;
            border-radius: theme.elements(--border-radius-md);
            background-color: theme.colours(--bg-lt-grey);
        }

        @include mixin.breakpoint(md) {
            grid-template-columns: 1fr;
        }

        &--right {
            text-align: right;
            border: 1px solid black;
            overflow: hidden;
            border-radius: theme.elements(--border-radius-md);
            background-color: theme.colours(--bg-lt-green);

            .schedule {
                padding-bottom: 10px;

                .venue-schedule{
                    padding: 5px 15px;
                }

                h3 {
                    text-align: center;
                    margin: 0;
                    padding: 5px 15px;
                    text-decoration: underline;
                    border-bottom: 1px solid black;
                    background-color: theme.colours(--bg-lt-grey);
                }
            }
            
            .notes {
                text-align: left;
                margin: 15px 0 0;
                padding: 5px 15px;
                background-color: theme.colours(--notes);

                h3 {
                    margin: 0;
                    text-decoration: underline;
                }
            }
        }
    }

    .no-services {
        width: 50%;
        margin: auto;
        text-align: center;
        height: 40vh;

        &--grid-fill {
            grid-column: 1 / span 4;
        }

        &--buttons {
            display: flex;
            margin: 30px 0 10px;
            justify-content: center;
        }
    }

    // @include mixin.breakpoint(3xl) {
    //     // margin: 20px;
    // }
}