@use '../mixins/mixins' as mixin;
@use '../theme/theme' as theme;

.login-section {
    max-width: 1400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: theme.colours(--bg-grey);
    
    h2 {
        width: 100%;
        border-bottom: 1px solid black;
    }

    .login-form-section {
        padding: 20px 0;
        display: grid;
        grid-template-columns: 1fr;

        form.login-form {
            width: 30%;
            margin: auto;

            legend {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: center;
            }

            fieldset {
                margin: 2em auto;

                > div:nth-last-child(2) {
                    display: flex;
                    justify-content: center;
                }
            }
            
            label[for="remember"] {
                cursor: pointer;
            }

            button {
                cursor: pointer;
                border: 1px solid black;
                border-radius: 5px;
                background-color: theme.colours(--green);
                float: center;
                width: 200px;

                &:hover {
                    background-color: theme.colours(--bg-dk-green);
                }
            }
            
            .login-form-footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            @include mixin.breakpoint(lg_1) {
                width: 65%;
            }
            
            @include mixin.breakpoint(sm_400) {
                width: 100%;
            }
        }

        .section-name {
            font-size: 1.5rem;
            font-weight: bold;
            color: theme.colours(--black);
        }
    }
}