

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.3s ease-out forwards;

    &.hide {
        animation: fadeOut 0.3s ease-out backwards;
    }

    .description {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: theme.colours(--green); // #dfdede;
        padding: 20px;
        border-radius: 5px;
        z-index: 100;
        width: 80%;
        max-width: 500px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }
}

.cookie-notification {
    width: 100%;
    background-color: theme.colours(--bg-lt-grey); // #dfdede;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    
    p {
        margin: 0 20px;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}