@use '../mixins/mixins' as mixin;
@use '../theme/theme' as theme;

.admin-sidebar {
    width: 200px;
    padding: 20px 0;
    position: relative;
    background-color: theme.colours(--dark-bg);
    color: theme.colours(--text-light);
    z-index: 1;

    &__expend-btn {
        display: none;
        
        @include mixin.breakpoint(lg) {
            position: absolute;
            right: -30px;
            top: 10px;
            border-radius: 0 10px 10px 0;
            background-color: theme.colours(--dark-bg);
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: end;
            align-items: center;

            span { 
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 5px;
                width: 20px;
                height: 20px;
            }
            
            svg {
                // width: 20px !important;
                // height: 20px !important;
                fill: theme.colours(--text-light);
            }
        }
    }

    h2 {
        margin: 0 10px 10px;
    }

    ul {
        position: relative;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 15px;
            padding: 10px;
            cursor: pointer;

            .svg-icon {
                width: 20px;
                height: 20px;
                fill: theme.colours(--text-light);

                svg {
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                }
            }

            a {
                text-decoration: none;
                color: theme.colours(--text-light);
                display: flex;
                align-items: center;
            }

            &.has-dropdown {
                // height: 20px;
                align-items: start;
                transition: height 0.3s ease;

                &.active {
                    height: 95px;
                }
            }

            &:not(.admin-sidebar__dropdown--list-item) {
                transition: background-color 0.3s ease;

                &:hover:not(.has-dropdown) {
                    background-color: theme.colours(--btn-green);
                }

                // .has-dropdown:hover {
                //     background-color: theme.colours(--bg-lt-grey);
                // }
            }
        }
    }

    &__dropdown--container {
        width: 150px;
        position: relative;
    }
    
    &__dropdown--heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .svg-icon {
            width: 15px !important;
            height: 15px !important;
            fill: theme.colours(--text-light);
            transform: rotate(0deg);
            transition: transform 0.3s ease;

            svg {
                width: 15px !important;
                height: 15px !important;
            }
        }

        &.active {
            .svg-icon {
                transform: rotate(90deg);
            }
        }
    }

    &__dropdown--list {
        position: relative;
        height: 0;
        width: 200px;
        top: 10px;
        left: -47px;
        overflow: hidden;
        transition: height 0.3s ease;

        ul li {
            padding-left: 60px;
            transition: background-color 0.3s ease;
            
            &:hover {
                background-color: theme.colours(--btn-green);
            }
        }

        &.open {
            height: 80px;
        }
    }

    @include mixin.breakpoint(lg) {
        position: absolute;
        left: -200px;
        transition: left 0.3s ease;
        
        &.expanded {
            left: 0;
        }
    }
}